<div class="page-header">
  <h1>Sign up for an account!</h1>
</div>

<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <div class="alert alert-danger " align="center">Something went wrong! Please correct the fields below.
      </div>
    </div>
  <% end %>

  <div class="form-verticle">
    <%= f.input :email, label: 'Email Address', placeholder: 'example@email.com'%><div class="alert alert-info">You CANNOT change your email login after this point.</div>
    <hr>
    <%= f.input :password, label: 'Password', input_html: { maxlength: 20, minlength: 6 } %><%= f.input :password_confirmation, label: 'Password Confirmation', input_html: { maxlength: 20 } , input_html: { maxlength: 20, minlength: 6 } %>
    <hr>
    <%= f.input :maycontact, :input_html => { :checked => true }, label: 'Can we contact you?'%>
    <%= f.input :studentnumber, placeholder: 'ex. 12345678', input_html: { maxlength: 8} %>
    <%= f.input :classnumber, placeholder: 'ex. 1234', input_html: { maxlength: 4} %>
    <%= f.submit "Sign Up", class: ['btn']%></div>
<% end %>
