<h1 align="center">Sign up for an account!</h1>

<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2 style="font-family:IMPACT;color:red;font-size:40px;" align='center'>Whoops! Somthing Goof'd</h2>
      </ul>
    </div>
  <% end %>

  <div class="form-verticle">
    <%= f.input :email, label: 'Email Address', placeholder: 'example@email.com' %>
    <%= f.input :password, label: 'Password', input_html: { maxlength: 20 } %>
    <%= f.input :password_confirmation, label: 'Password Confirmation', input_html: { maxlength: 20 } , input_html: { maxlength: 20 } %>
    <%= f.submit "Sign Up", class: ['btn']%></div>
<% end %>
