<div>
  <%= simple_form_for(@user, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control form-inline' } }) do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <div class="alert alert-danger " align="center">Something went wrong! Please correct the fields below.
        </div>
      </div>
    <% end %>
      <div class="form-group">

        <%= f.input :firstname,
                    class: "form-control",
                    placeholder: 'First Name',
                    type: "text",
                    label: false %>

        <%= f.input :lastname,
                    placeholder: 'Last Name',
                    name: "appendedtext",
                    class: "form-control",
                    type: "text",
                    label: false %>
        <br>

        <%= f.input :email,
                    class: "form-control",
                    placeholder: "Email",
                    label: false %>

        <%= f.input :password,
                    class: "form-control",
                    label: 'Password',
                    placeholder: "Password",
                    input_html: { maxlength: 20, minlength: 6 },
                    label: false %>

        <%= f.input :password_confirmation,
                    class: "form-control",
                    label: 'Password Confirmation',
                    placeholder: "Password Confirmation",
                    input_html: { maxlength: 20, minlength: 6 },
                    label: false %>
        <br>
        <%= f.input :studentnumber,
                    class: "form-control",
                    placeholder: 'Student Number',
                    input_html: { maxlength: 8},
                    label: false %>

        <%= f.input :classnumber,
                    class: "form-control",
                    placeholder: 'Class Number',
                    input_html: { maxlength: 4},
                    label: false %>
        <div class="well" align="center">
          <%= f.check_box :maycontact %>  <strong>Can contact you?</strong>
        </div>
        <hr>
        <br>
        <div>
            <%= f.submit "Sign Up", class: ['btn btn-primary btn-sm btn-block']%>
            <button type="button" class="btn btn-sm btn-block" data-dismiss="modal">Cancel</button>
        </div>

      </div>
  <% end %>
</div>

