<h1>home</h1>
<form class="form-horizontal">
<fieldset>
<%= simple_form_for @user do |f| %>
<!-- Form Name -->
  <legend>Form Name</legend>

  <!-- Prepended text-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="prependedtext">Prepended Text</label>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon">First Name</span>
        <%= f.input :firstname, id: "prependedtext", name: "prependedtext", class: "form-control", placeholder: 'John', type: "text"%>
      </div>
      <p class="help-block">help</p>
    </div>
  </div>

  <!-- Appended Input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="appendedtext">Appended Text</label>
    <div class="col-md-4">
      <div class="input-group">
        <input id="appendedtext" name="appendedtext" class="form-control" placeholder="placeholder" type="text">
        <span class="input-group-addon">append</span>
      </div>
      <p class="help-block">help</p>
    </div>
  </div>
  <!-- Prepended checkbox -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="prependedcheckbox">Prepended Checkbox</label>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-addon">
            <input type="checkbox">
        </span>
        <input id="prependedcheckbox" name="prependedcheckbox" class="form-control" type="text" placeholder="placeholder">
      </div>
      <p class="help-block">help</p>
    </div>
  </div>

  </fieldset>
  </form>
<% end %>




<!--   <%= f.input :firstname, id: "textinput", class: "form-control input-md", placeholder: 'John'%>
  <%= f.input :lastname, placeholder: 'Appleseed' %>
  <%= f.input :email, label: 'Email Address', placeholder: 'example@email.com'%>
  <hr>
  <%= f.input :password, label: 'Password', input_html: { maxlength: 20, minlength: 6 } %>
  <%= f.input :password_confirmation, label: 'Password Confirmation', input_html: { maxlength: 20 } , input_html: { maxlength: 20, minlength: 6 } %>
  <br>
  You cannot change these inputs after creating your account.
  </div>
  <hr>
  <%= f.input :maycontact, :input_html => { :checked => true }, label: 'Can we contact you?'%>
  <%= f.input :studentnumber, placeholder: 'ex. 12345678', input_html: { maxlength: 8} %>
  <%= f.input :classnumber, placeholder: 'ex. 1234', input_html: { maxlength: 4} %>
  <%= f.submit "Sign Up", class: ['btn']%> -->
