<div class="page-header">
  <h1>
    Teachers <small>of the Academy</small>
  </h1>
</div>  <hr>
<div class="well">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Heather Zoll Eppley
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <div>
            <%= image_tag("Fc_Zoll.JPG", :alt => "Heather Zoll Eppley", :class => "img-thumbnail inline img-responsive", style: "100%", align: "left ") %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Heather Zoll Eppley is the English teacher for Sophomores and director of the IT Academy. She has been the director since the 2011-2012 school year.&nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Beau Gothier
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Gothier.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT Citizenship focuses on the structure of the US Government, teaching what a democracy really is, how each branch works and interacts with each other, and teaching the basics of economy. It is taught by Mr. Covington.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Jim Hill
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Hill.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Joshua Covington
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Covington.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            Jamie Mills
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Mills.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            Brandon Slone
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Slone3.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            Kimberly Tuney
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Tuney.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            Catherine Vannatter
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Vanatter.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
            Michelle Clay
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Clay.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
            Elizabeth Pelphrey
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Coleman.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
            Sherri Davis
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Davis.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
            Kara Stacy
          </a>
        </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
        <div class="panel-body">
          <%= image_tag("Fc_Stacy.JPG", :alt => "Heather Zoll Eppley", :class => "inline img-responsive", style: "100%", align: "left ") %>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
